<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="name"  default="segway" />
  <arg name="model" default="segway_example" />

  <group ns="$(arg name)">
  
    <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find iri_segway_rmp200_description)/urdf/$(arg model).xacro' name:=$(arg name)" />

    <node pkg="robot_state_publisher" type="state_publisher" name="$(arg name)_tf_broadcaster">
      <param name="tf_prefix" type="string" value="/$(arg name)"/>
      <param name="publish_frequency" type="double" value="20.0"/>
    </node>
    
    <!--
    <node pkg="joint_state_publisher"
          type="joint_state_publisher"
          name="joint_state_publisher">
      <param name="use_gui"           value="true"/>
      <remap from="$(arg name)/joint_states" to="$(arg name)/joint_states/"/>
      <remap from="$(arg name)/robot_description" to="$(arg name)/robot_description/"/>
    </node>
    -->

  </group>

  <!--
  <include file="$(find iri_segway_rmp200_description)/launch/wheel_static_transform.launch">
    <arg name="name" value="$(arg name)"/>
  </include>
  -->
  
  <include file="$(find iri_segway_rmp200_description)/launch/caster_wheels_static_transform.launch">
    <arg name="name" value="$(arg name)"/>
  </include>

</launch>